<div class="fadeIn animated">

    <h2 class="text-center" id="resume-title">Résumé</h2>

    <!--add go-to top link-->
    <!--RESUME NAVIGATION-->
    <nav class="col-lg-offset-3">
        <ul class="nav nav-pills">
            <li role="presentation"><a ng-click="scrollTo('employment')">Employment</a></li>
            <li role="presentation"><a ng-click="scrollTo('relevantWork')">Relevant Work</a></li>
            <li role="presentation"><a ng-click="scrollTo('techStrengths')">Technical Strengths</a></li>
        </ul>
    </nav>

    <!--EDUCATION-->
    <h3 id="education">Education</h3>
    <ul class="list-group">
        <li class="row list-group-item">
            <p class="col-lg-6"><strong>University of Massachusetts Lowell</strong></br>
                Master of Science in Computer Science</p>

            <p class="col-lg-6 text-right">Expected - May 2016</p>
        </li>
        <li class="row list-group-item">
            <p class="col-lg-6"><strong>University of Massachusetts Lowell</strong></br>
                Bachelor of Science in Computer Science</p>

            <p class="col-lg-6 text-right">Graduated with Honors - May 2015</p>
        </li>
        <li class="row list-group-item">
            <p class="col-lg-6"><strong>Massachusetts Bay Community College</strong></br>
                Associate of Science in Computer Science</p>

            <p class="col-lg-6 text-right">Graduated - June 2013</p>
        </li>
    </ul>

    <!--EMPLOYMENT HISTORY-->
    <!--<button class="btn btn-default btn-sm" ng-click="scrollTo('resume-title')">TOP</button>-->
    <h3 id="employment">Employment</h3>
    <!--outsmart-->
    <div class="panel panel-default ">
        <div class="panel-heading">
            <div class="row">
                <p class="col-lg-6"><strong>Outsmart Power Systems</strong></br>
                    Developer</br>
                    Natick, MA </br>
                </p>

                <p class="col-lg-6 text-right">August 2011 - Present</p>
            </div>
        </div>
        <div class="panel-body">
            <ul>
                <li>Programmed large existing enterprise web application from PHP and Java SE to Java EE 7 using
                    EJB3
                    and RESTful web services
                </li>
                <li>Designed and coded a front end content management system for maintaining data relating to
                    specific
                    customer configurations.
                    <ul>
                        <li>
                            This included responsive web design elements for both mobile and
                            desktop
                        </li>
                    </ul>
                <li>
                    Web applications using AngularJS and Twitter Bootstrap
                </li>
                </li>
                <li>Responsible for the deployment of the above web application to respective app and web servers
                </li>
                <li>Documented all projects and experiments using L A TEX</li>
                <li>Responsible for testing many services using full jUnit 4 test suite</li>
            </ul>
        </div>
    </div>

    <!--RELEVANT WORK-->
    <!--<button class="btn btn-default btn-sm" ng-click="scrollTo('resume-title')">TOP</button>-->
    <h3 id="relevantWork">Relevant Work</h3>
    <ul class="list-group">
        <li class="row list-group-item">
            <p class="col-lg-9"><strong>3D printing</strong></br>
                Designing and building my own custom 3D printers to aid in my research.
                (See home page for more info)
            </p>

            <p class="col-lg-3 text-right">Aug 2014 - In Progress</p>
        </li>
    </ul>
    <ul class="list-group">
        <li class="row list-group-item">
            <p class="col-lg-9"><strong>NLP Twitter Bullying Project</strong></br>
                A machine learning and data mining project that learns from a corpus of compiled tweets from Twitter
                to discover bullies who use social media
                Arduino ODB2 Protocol Tool </p>

            <p class="col-lg-3 text-right">September 2014 - May 2015</p>
        </li>
    </ul>
    <ul class="list-group">
        <li class="row list-group-item">
            <p class="col-lg-9"><strong>OBD-II Analyzer</strong></br>
                A K-line protocol engine diagnostic and logging tool which I have been developing in my spare time
                using an Arduino and an ECU simulator </p>

            <p class="col-lg-3 text-right">September 2013 - In Progress</p>
        </li>
    </ul>

    <!--TECHNICAL STRENGTHS-->
    <!--<button class="btn btn-default btn-sm" ng-click="scrollTo('resume-title')">TOP</button>-->
    <h3 id="techStrengths">Technical Strengths</h3>
    <table class="table">
        <tbody>
        <tr>
            <th>Computer Languages</th>
            <td> Java 7 & 8, Java EE 7, JavaScript, C, C++, Scheme,
                Linux Bash, Assembly, Python 2 & 3, Miscellaneous Firmware C code (PIC and Arduino mostly), Latex, ROS
            </td>
        </tr>
        <tr>
            <th>Web Technologies</th>
            <td>AngularJS, jQuery, Bootstrap 2 & 3, D3.js, NodeJS, ExpressJS, HTML 5, REST, AJAX, CSS3</td>
        </tr>
        <tr>
            <th>Databases</th>
            <td> MySQL, Derby, Neo4j, MongoDB</td>
        </tr>
        <tr>
            <th>Protocols & Libraries</th>
            <td> XML, JSON, BSON, EJB3, JMS, jUnit 3 & 4</td>
        </tr>
        <tr>
            <th>Servers</th>
            <td>ActiveMQ, Wildfly 7 & 8, XAMPP, Apache</td>
        </tr>
        <tr>
            <th>Tools</th>
            <td>SVN, Git, Vim, Netbeans, IntelliJ IDEA 14, Webstorm 10, Sublime Text, Tex Studio</td>
        </tr>
        <tr>
            <th>Platforms</th>
            <td>Ubuntu (since Ver. 7.04), LinuxMint, CentOS (since Ver. 5.8), Fedora,
                Mac OSX , and Windows
            </td>
        </tr>
        </tbody>
    </table>
</div>