<!--RESUME NAVIGATION-->
<nav>
    <ul class="nav nav-pills">
        <li role="presentation"><a ng-click="scrollTo('employment')">Employment</a></li>
        <li role="presentation"><a ng-click="scrollTo('relevantWork')">Relevant Work</a></li>
        <li role="presentation"><a ng-click="scrollTo('techStrengths')">Technical Strengths</a></li>
    </ul>
</nav>

<!--EDUCATION-->
<h2 id="education">Education</h2>
<ul class="list-group">
    <li class="row list-group-item">
        <p class="col-lg-6"><strong>University of Massachusetts Lowell</strong></br>
            Masters of Science in Computer Science</p>

        <p class="col-lg-6 text-right">Expected - May 2016</p>
    </li>
    <li class="row list-group-item">
        <p class="col-lg-6"><strong>University of Massachusetts Lowell</strong></br>
            Bachelors of Science in Computer Science</p>

        <p class="col-lg-6 text-right">Received - May 2015</p>
    </li>
    <li class="row list-group-item">
        <p class="col-lg-6"><strong>Massachusetts Bay Community College</strong></br>
            Associates of Science in Computer Science</p>

        <p class="col-lg-6 text-right">Received - June 2013</p>
    </li>
</ul>

<!--EMPLOYMENT HISTORY-->
<h2 id="employment">Employment</h2>
<ul class="list-group">
    <li class="row list-group-item">
        <p class="col-lg-6"><strong>Outsmart Power Systems</strong></br>
            Developer</br>
            Natick, MA </br>
        </p>

        <p class="col-lg-6 text-right">August 2011 - Present</p>
    </li>
</ul>
<ul>
    <li>Programmed large existing enterprise web application from PHP and Java SE to Java EE 7 using EJB3
        and RESTful web services
    </li>
    <li>Designed and coded a front end content management system for maintaining data relating to specific
        customer configurations. This included responsive web design elements for both mobile and desktop
        web applications using jQuery and Twitter Bootstrap
    </li>
    <li>Responsible for the deployment of the above web application to respective app and web servers</li>
    <li>Documented all projects and experiments using L A TEX</li>
    <li>Responsible for testing many services using full jUnit 4 test suite</li>
</ul>

<ul class="list-group">
    <li class="row list-group-item">
        <p class="col-lg-6"><strong>Rack Attack Inc.</strong></br>
            Mechanic</br>
            Framingham, MA </p>

        <p class="col-lg-6 text-right">May 2010 - June 2011</p>
    </li>
</ul>
<ul>
    <li>Mechanic and store front clerk at a shop that sells and installs trailer hitches</li>
</ul>

<!--RELEVANT WORK-->
<h2 id="relevantWork">Relevant Work</h2>
<ul class="list-group">
    <li class="row list-group-item">
        <p class="col-lg-6"><strong>NLP Twitter Bullying Project</strong></br>
            A machine learning and data mining project that learns from a corpus of compiled tweets from Twitter
            to discover bullies who use social media
            Arduino ODB2 Protocol Tool </p>

        <p class="col-lg-6 text-right">Sept 2014 - May 2015</p>
    </li>
</ul>
<ul class="list-group">
    <li class="row list-group-item">
        <p class="col-lg-6"><strong>OBD-II Analyzer</strong></br>
            A K-line protocol engine diagnostic and logging tool which I have been developing in my spare time
            using an Arduino and an ECU simulator </p>

        <p class="col-lg-6 text-right">Sept 2013 - In Progress</p>
    </li>
</ul>

<!--TECHNICAL STRENGTHS-->
<h2 id="techStrengths">Technical Strengths</h2>
<table class="table">
    <tbody>
    <tr>
        <th>Computer Languages</th>
        <td> Java 7 & 8, Java EE 7, JavaScript, HTML 5, C, C++, Scheme,
            Linux Bash, Assembly, Python 2 & 3, Misc. Firmware C code, LATEX
        </td>
    </tr>
    <tr>
        <th>Protocols & APIs</th>
        <td> XML, JSON, REST, AJAX, jQuery, CSS3, EJB3, JMS, jUnit 3 & 4</td>
    </tr>
    <tr>
        <th>Databases</th>
        <td> MySQL, Derby, Neo4j, MongoDB</td>
    </tr>
    <tr>
        <th>Tools</th>
        <td>SVN, Git, Vim, Netbeans, IntelliJ IDEA 14, Webstorm 10</td>
    </tr>
    <tr>
        <th>Platforms</th>
        <td>Ubuntu (Since Ver 7.04), LinuxMint, CentOS (Since Ver 5.8), Fedora,
            Mac OSX , and Windows
        </td>
    </tr>
    </tbody>
</table>