.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

h1 {
    font-size: 42px;
    color: white;
}

h2 {
    font-size: 36px;
    color: #00bd9d;
}

h3 {
    font-size: 28px;
    color: #00bd9d;
}

h1 strong {
    font-size: 18px;
    color: inherit;
}

.index-nav {
    margin-top: 20px;
}

.index-nav li {
    padding-right: 10px;
}

#navbar-background {
    background-color: #00bd9d;
}
.navbar-default{
    padding-top: 30px;
}

